body{
    align-items: flex-start;
    justify-content: center;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    display: flex;
    background-color: #0E0E0E;
    overflow: hidden;
}

.dimensioninput{
    display: flex;
    flex-direction: row;
}
.startbutton{
    margin-top: 10px;
    width: 100%;
    border-radius: 10px;
    background-color: grey;
}