body{
    height: 100%;
    margin: 0px;
    overflow: hidden;
}

.menubody{
    height: 100vh;
    padding-top: 20vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    background-color: #202124;
    overflow: hidden;
}

.highlightdiv{
    height: 100vh;
    width: 100vw;
    position: absolute;
    z-index: 1;
    margin-top: -20vh;
    background-color: transparent;
}

.selectortittle{
}
